picture {
  display: block;
  position: relative;
}

.advantages__header {
  background-color: #fff;
  padding: 32px 20px 28px 20px;
}

.advantages__title {
  margin-bottom: 32px;
}

.advantages__article {
  display: flex;
  flex-direction: column;
}

.advantages__article-emphasized-block {
  position: relative;
  background-color: #81b3d2;
  padding: 54px 20px 36px 20px;
  overflow: hidden;
  color: #fff;
}

.advantages__article-emphasized-block .text-header {
  color: #fff;
}

.advantages__reason-title {
  margin-bottom: 12px; /* Сколько? */
}

.advantages__reason-text:not(:last-of-type) {
  margin-bottom: 12px; /* Сколько? */
}

.advantages__reason {
  position: relative;
  width: 100%;
}

.advantages__reason.small-card {
  display: block;
  background-color: #eeeeee;
  padding: 26px 20px;
}

/* Separators */
.advantages__reason.small-card:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 1px solid #d6d6d6;
  height: 1px;
  left: 20px;
  right: 20px;
  bottom: 0;
}

.advantages__article-neutral-block {
  background-color: #eeeeee;
  padding: 26px 26px 26px 24px;
}

.advantages__triangle {
  position: absolute;
  top: -16px;
  transform: translateX(-50%);
}

.advantages__reasons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.advantages__reason-large-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 256px;
  background-color: #b7c7dd;
  width: 100%;
  max-width: 512px;
  overflow: hidden;
}

.advantages__reason-large-image {
  display: block;
}

.advantages__reason-subitems {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 26px 20px 36px 20px;
}

.advantages__reason-subitem {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  gap: 16px;
}

.advantages__reason-subitem:not(:last-child) {
  margin-bottom: 16px;
}

.advantages__reason-icon-wrapper {
  display: flex;
  height: 40px;
  flex: 40px 0 0;
  align-items: flex-end;
  justify-content: center;
}

.advantages__reason-icon {
  width: 100%;
  height: 100%;
}

.advantages__reason-subitem-description {
  text-align: left;
  padding: 8px 0 0 0;
}

.advantages__reason-subitem-title {
  display: block;
  margin-bottom: 16px; /* Сколько? */
}

@media (min-width: 321px) {
  .advantages__triangle {
    display: none;
  }
}

@media (min-width: 512px) {
  .advantages__reasons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  .advantages__reason-large-image-wrapper {
    height: 256px;
    width: calc(100% / 3 * 2);
  }

  .advantages__article-emphasized-block {
    height: 256px;
    min-width: 256px;
    width: calc(100% / 3);
  }

  .advantages__reason:nth-child(1) .advantages__article {
    flex-direction: row;
  }

  .advantages__reason:nth-child(2) .advantages__article {
    flex-direction: row-reverse;
  }
}

@media (min-width: 768px) {
  .advantages__reason-large-image-wrapper {
    max-width: 800px;
  }

  .advantages__reason-subitems {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
  }
  
  .advantages__reason-subitem {
    align-items: center;
    padding: 60px 36px;
    flex: 1;
    flex-direction: column;
    gap: 26px;
  }
  
  .advantages__reason-subitem:not(:last-child) {
    margin: 0;
  }

  .advantages__reason.small-card {
    display: block;
    padding: 42px 42px;
    width: calc(100% / 3);
  }

  .advantages__reason.small-card:not(:last-child)::after {
    content: none;
  }

  .advantages__reason-icon-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 76px 0 0;
    width: 76px;
  }

  .advantages__reason-subitem-title {
    margin-bottom: 28px; /* Сколько? */
  }

  .advantages__reason-subitem-description {
    text-align: center;
    padding: 0;
  }
}
