.creator {
  display: flex;
  flex-direction: row;
  align-items: center; /* Как правильно подровнять слово и логотип? */
  gap: 6px; /* Сколько? */
}

.creator__link {
  display: inline-flex;
}

.creator__link:hover:not(:active) .creator__logo {
  fill: #81b3d2;
}

.creator__link:active .creator__logo {
  opacity: 0.3;
}
