.form-section {
  background-color: #fff;
}

.form-intro {
  padding: 36px 20px 16px 20px;
  border-bottom: 1px solid #e5e5e5;
}

.form__fieldset {
  display: block;
  border: 0;
  padding: 40px 20px 32px 20px;
  margin: 0;
}

.form__fieldset:not(:last-of-type) {
  border-bottom: 1px solid #e5e5e5;
}

.form__legend {
  position: relative;
  top: 20px;
  padding: 0;
}

.form__list-item:not(:last-child) {
  margin-bottom: 20px;
}

.form__label {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.form__label.label-text {
  justify-content: space-between;
}

.label-checkbox-radio {
  cursor: pointer;
}

.form__label.label-contacts {
  flex-direction: column;
  align-items: flex-start;
}

.form__label.label-contacts .form__label-text {
  padding: 0 20px;
}

.form__input {
  height: 58px;
  background-color: #f2f2f2;
  border: none;
  padding: 18px 22px 14px 22px
}

.form__input:focus {
  outline: none;
}

.input-text {
  width: 100%;
}

.input-tel {
  width: 100%;
}

.input-email {
  width: 100%;
}

.form__textarea {
  width: 100%;
  min-height: 160px;
  resize: vertical;
  background-color: #f2f2f2;
  border: none;
}

.form__textarea:focus {
  outline: none;
}

.form__submit-button-wrapper {
  padding: 32px 20px 40px 20px;
}

.form__submit-button {
  width: 100%;
}

.form__required-fields-note {
  display: none;
}