.hotel-search {
  background-color: white;
  padding: 33px 20px 49px 20px;
}

.hotel-search__teaser {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 24px;
}

.hotel-search__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
}

.hotel-search__button {
  width: 100%;
}
