.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 32px 20px 48px 20px;
}

.hotel-search__teaser {
  display: block;
  margin-bottom: 24px;
  max-width: 458px;
}

.hotel-search__text {
  margin-bottom: 24px;
  max-width: 458px;
}

.hotel-search__button {
  width: 100%;
  max-width: 458px;
}

@media (min-width: 768px) {
  .hotel-search {
    padding: 60px 0;
  }

  .hotel-search__teaser {
    margin-bottom: 32px;
  }

  .hotel-search__text {
    margin-bottom: 32px;
  }
}
