.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main__banner {
  position: relative;
  background-color: #ddebf4;
  background-image: url("/Images/back-mobile.jpg");
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden;
  background-position: bottom;
}

.main__banner.title-slogan {
  height: 389px;
}

.main__banner.title-only {
  height: 157px;
}

.main__banner-main-text {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main__banner.title-slogan .main__banner-main-text {
  top: 46%;
  max-height: 214px;
}

.main__banner.title-only .main__banner-main-text {
  top: 50%;
  max-height: 40px;
}

.main__banner-triangle {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
}

@media (min-width: 321px) {
  .main__banner {
    background-image: url("/Images/back-desktop.jpg");
  }

  .main__banner.title-slogan {
    height: 518px;
  }
  
  .main__banner.title-only {
    height: 300px;
  }

  .main__banner.title-slogan .main__banner-main-text {
    max-height: 350px;
  }
  
  .main__banner.title-only .main__banner-main-text {
    max-height: 80px;
  }
}
