.main {
  display: flex;
  flex-direction: column;
}

.main__banner {
  position: relative;
  background-color: #ddebf4;
  background-image: url("/Images/back-mobile.jpg");
  text-align: center;
  overflow: hidden;
  background-position: bottom;
}

.main__banner.title-slogan {
  min-height: 389px;
}

.main__banner.title-only {
  min-height: 157px;
}

.main__banner-img {
  position: absolute;
  top: 90px;
  transform: translate(-50%, 0);
}

.main__banner-main-text {
  position: absolute;
  top: 51px;
  transform: translate(-50%, 0);
}

.main__banner-triangle {
  position: absolute;
  _top: 332px;
  bottom: 0;
  transform: translate(-50%, 0);
}
