.map {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #cbddaa;
  min-height: 350px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  align-items: center;
}

.map-tablet {
  display: none;
}

.map-desktop {
  display: none;
}

.map__marker {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 321px) {
  .map-mobile {
    display: none;
  }

  .map-tablet {
    display: flex;
  }
}

@media (min-width: 769px) {
  .map-mobile {
    display: none;
  }

  .map-tablet {
    display: none;
  }

  .map-desktop {
    display: flex;
  }
}
