.button {
  display: block;
  background-color: #81b3d2;
  color: #fff;
  font-family: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding: 16px 24px;
  cursor: pointer;
  overflow: hidden;
  border: none;
  text-transform: uppercase;
}

.button:focus-visible {
  outline: 1px solid #56f;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}
