.button {
  display: block;
  background-color: #81b3d2;
  color: #fff;
  font-family: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding: 16px 24px;
  cursor: pointer;
  overflow: hidden;
  border: none;
  text-transform: uppercase;
}

.button:focus {
  outline: 1px solid #79abca;
}
