.input-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .custom-checkbox {
    display: inline-flex;
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    background-color: #f2f2f2;
  }
  
  .input-checkbox:checked + .custom-checkbox:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    border-radius: 2px;
  }