.input-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custom-radio {
  flex: 0 0 auto;
  display: inline-flex;
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 4px solid #f2f2f2;
  background-color: #f2f2f2;
}

.input-radio:hover:not(:active) + .custom-radio {
  border-color: #e5e5e5;
  background-color: #e5e5e5;
}

.input-radio:active + .custom-radio {
  border-color: #d5d5d5;
  background-color: #d5d5d5;
}

.input-radio:focus-visible:not(:active) + .custom-radio {
  border-color: #e5e5e5;
}

.input-radio:checked:not(:active) + .custom-radio::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  border-radius: 50%;
}

.input-radio:checked:active + .custom-radio::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 0.3;
}
