.input-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custom-radio {
  display: inline-flex;
  position: relative;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.input-radio:focus + .custom-radio {
  outline: 1px solid #e4e4e4;
}

.input-radio:checked + .custom-radio:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  border-radius: 50%;
}
